.challenge {
  padding-top: 100px;

  header {
    background: $wine;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    h1 {
      @include hide-text;
      background-image: url(challenge/img/logo.png);
      width: 117px;
      height: 41px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  footer {
    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      margin: 40px 0;
    }
    background: #45424f;
    color: white;
    text-align: center;
    padding: 60px;
    margin-top: 60px
  }

  .nko-share {
    background: white;
    margin: auto;
    width: 120px;
    padding: 10px;
    border-radius: 6px;
  }

  .facebook-share {
    color: #45424f;
    font-size: 40px;
    &:hover {
      .icon-facebook {
        color: white;
      }
      .icon-stack-base {
        color: #4b9ed1;
      }
    }
  }
}
