.challenge {
  padding-top: 100px;

  header {
    background: $wine;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    h1 {
      @include hide-text;
      background-image: url(challenge/img/logo.png);
      width: 117px;
      height: 41px;
      margin-top: 20px;
      margin-left: 20px;
    }

    .close-button {
      background: #8e455b;
      height: 44px;
      width: 44px;
      text-transform: uppercase;
      font-size: 26px;
      border-radius: 44px;
      border: none;
      display: block;
      color: $beige;
      float: right;
      font-weigth: 300;
      text-align: center;
      line-height: 44px;
      text-decoration: none;
      margin-right: 20px;

      &:focus {
        outline: 0;
      }

      &:hover {
        background: white;
        color: $wine;
        text-shadow: none;
      }
    }

    .step-counter {
      display: none;
      background: #8e455b;
      float: right;
      width: 120px;
      line-height: 44px;
      border-radius: 44px;
      text-align: center;
      color: $beige;
      font-size: 20px;
      font-style: italic;
      margin-right: 20px;
    }
  }
}
