.end-challenge {

  .retry {
    @include action-button;
  }

  .praise {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: $wine;
  }

  .sharing {
    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      margin: 40px 0;
    }
    background: #45424f;
    color: white;
    text-align: center;
    padding: 60px;
    margin-top: 60px
  }

  .nko-share {
    background: white;
    margin: auto;
    width: 120px;
    padding: 10px;
    border-radius: 6px;
  }

  .facebook-share {
    color: #45424f;
    font-size: 40px;
    &:hover {
      .icon-facebook {
        color: white;
      }
      .icon-stack-base {
        color: #4b9ed1;
      }
    }
  }


  .challenged-honesto {
    background: #8e455b;
    height: 460px;

.be-challenged {
  @include grid-row();

  h1 {
    margin: 60px 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 35px;
    color: white;
    text-align: center;
  }

  ul {
    li {
      float: left;
      list-style-type: none;

      img, input {
        display: block;
      }

      .try-to-find {
        @include action-button;
        padding: 15px 25px;
        text-decoration: none;
        margin: 20px auto 0 auto;
        width: 60%;
        font-size: 19px;

        &:hover {
          background: $beige;
          color: $wine;
        }
      }

      &.challenge-middle {
        border-right: 1px solid;
        border-left: 1px solid;
        margin-right: 25px;
        margin-left: 25px;
        border-color: #a9707c;
      }
    }
  }
}
}

  footer {
    background: #45424f;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 12px;
  }

  .fb-like {
    padding: 3px;
    margin: 12px 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}
