.landing-page {

  .header-honesto {
    background: $wine url(landing_page/img/header_background.jpg) top center;
    color: white;
    height: 462px;

    .headline {
      text-shadow: $dark-wine 1px 1px;
      text-align: center;
    }

    .logo {
      @include hide-text;
      background-image: url(landing_page/img/logo.png);
      width: 230px;
      height: 100px;
      margin: 95px auto 20px auto;
    }
  }

  header {
    @include grid-row;

    .how-it-works-button {
      background: $dark-beige;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 700;
      padding: 10px 30px;
      border: none;
      border-radius: 4px;
      text-shadow: 1px 1px #e1cbb9;
      box-shadow: 0 3px black;
      margin: 50px auto;
      display: block;

      &:hover {
        background: #8e455b;
        color: white;
        text-shadow: none;
      }
    }
  }

  .how-it-works {
    color: white;
    background: $dark-beige;
    overflow: hidden;

    p {
      text-shadow: #977365 1px 1px;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    h1 {
      margin-top: 70px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 35px;
      color: $wine;
      text-align: center;
    }

    .graph {
      margin: 0 auto;
      display: block;
      padding-bottom: 50px;
    }
  }

  .challenge-description {
    @include grid-column($columns: 7, $center: true);
    text-align: center;
  }

  figcaption {
    margin-top: 8px;
    font-size: 17px;
    text-shadow: #977365 1px 1px;
  }

  .person-node {
    div {
      margin: 18px auto auto;
      height: 116px;
      width: 116px;
      border-radius: 100px;
      box-shadow: inset 0px 0px 30px 6px rgba(0,0,0,0.9);
      overflow: hidden;
    }

    img {
      position: relative;
    }
  }

  .autocomplete-suggestions {
    background: white;
    border-radius: 4px;
    text-transform: uppercase;
    color: #a59992;
  }

  .autocomplete-suggestion {
    padding: 10px;
  }

  .autocomplete-selected {
    background: #fff7d8;
    color: $wine;
  }

  .create-challenge {
    @include grid-row();
    .to-node {
      @include grid-column(4, $offset: 2);
      border: none;
    }
    .from-node {
      @include grid-column(4, $offset: 1);
      border: none;
    }

    h1 {
      margin-top: 70px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 35px;
      color: #8e455b;
      text-align: center;
      text-shadow: #f4ece6 1px 1px;
    }

    .headline {
      color: #6b5648;
      text-align: center;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .try-to-find-container {
      @include grid-column(12);
    }

    .try-to-find {
      background: $wine;
      padding: 20px 40px;
      border: none;
      color: white;
      border-radius: 4px;
      display: block;
      margin: 40px auto;
      font-size: 24px;
      text-transform: uppercase;

      &:hover {
        background: #8e455b;
      }
    }

    .search {
      border-radius: 4px;
      padding: 10px;
      color: $wine;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      width: 100%;
      margin-bottom: 30px;
      clear: both;
    }

    .selected-picture {
      max-width: 150px;
      max-height: 200px;
      border-radius: 8px;
      border-image-width: 0;
      border-color: transparent;
      border: none;
      color: white;
      display: block;
      margin: auto;
    }
  }

  footer {
    background: #45424f;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60px
  }
}
